<template>
  <div>
      <p>Digite seu e-mail para receber sua senha</p>
      <form method="post">
      <br>
      <input type="email" name="email" placeholder="Digite seu E-mail"><br>
      <br>
      <input type="submit" name="enviar" placeholder="Enviar">
      
      </form>
  </div>
</template>

<script>
    export default {

    }
</script>

<style>

</style>