<template>
  <div id="box">
    <img id="logo-ufrbEventos" src="../assets/marcaUfrbEventos.svg">
    <br />
    <hr class="line" />

    <input
      type="text"
      v-model="email"
      placeholder="E-mail ou CPF"
      class="entrada-id"
    />
    <br />
    <input
      type="password"
      v-model="senha"
      placeholder="Senha"
      class="entrada-password"
    />
    <br />
    <router-link to="/home">
      <button type="submit" v-on:click="acionaBotao(email, senha)" id="btn-login">
        Entrar
      </button>
    </router-link>

    <router-link to="/rsenha">
      <button
        type="submit"
        v-on:click="acionaBotao(email, senha)"
        id="btn-fpassword"
      >
        Esqueceu sua senha?
      </button>
    </router-link>
   
    <hr class="line" />

    <router-link to="/cadastro">
      <button
        type="submit"
        v-on:click="acionaBotao(email, senha)"
        id="btn-cadastro"
      >
        Cadastre-se
      </button>
    </router-link>
    
  </div>
</template>

<script>
//import routes from "../routes";
export default {
  data() {
    return {
      email: this.email,
      senha: this.senha,
    };
  },
  props: {
    nome: String,
    idade: Number,
    cliente: Object,
  },
  methods: {
    acionaBotao: function (email, senha) {
      this.cliente.email = email;
      this.cliente.senha = senha;
      console.log(this.cliente.email);
      console.log(this.cliente.senha);
    },
  },
};
</script>

<style scoped>
/*Para dispositivos com no máximo 720px de largura*/
@media (max-width: 720px) {
  input, textarea, select, button{
    border:0 none;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  #box {
    margin: 5%;
    vertical-align: middle;
    width: 90%;
  }
  #logo-ufrbEventos {
    width: 80%;
  }
  input.entrada-id {
    padding: 2%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: solid thin;
    border-color: #363636;
    width: 80vw;
  }
  input.entrada-id:focus{
    width: 82vw;
  }
  input.entrada-password {
    padding: 2%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: solid thin;
    border-color: #363636;
    width: 80vw;
  }
  input.entrada-password:focus{
    width: 82vw;
  }
  .line {
    margin-top: 3%;
    margin-bottom: 3%;
    color: darkslategray;
  }
  /*Configuração dos botões na visão mobile*/
  #btn-login {
    margin: 4%;
    width: 7em;
    height: 40px;
    border-radius: 10px;
    border: thin;
    background-color: #363636;
    font-weight: bold;
    color: white;
  }
  #btn-login:focus{
    width: 7.5em;
    background-color: #1C1C1C;
  }
  #btn-cadastro {
    margin: 4%;
    width: 7em;
    height: 40px;
    border-radius: 10px;
    border: thin;
    background-color:#EE0000 ;
    font-weight: bold;
    color: white;
  }
  #btn-cadastro:focus{
    width: 9em;
    background-color: #CD0000;
  }
  
  #btn-fpassword {
    margin: 4%;
    width: 12em;
    height: 40px;
    border-radius: 10px;
    border: thin;
    background-color: #104E8B;
    font-weight: bold;
    color: white;
  }

  #btn-fpassword:focus{
    width: 12.5em;
    background-color: #1874CD;
  }
}

/*Para dispositivos com no mínimo 721px de largura*/
@media(min-width: 721px){
 #box {
    margin: 5%;
    vertical-align: middle;
    width: 40%;
  }
  #logo-ufrbEventos {
    width: 50%;
  }
  input, textarea, select, button{
    border:0 none;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  input.entrada-id {
    padding: 2%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: solid thin;
    border-color: #363636;
    width: 25vw;
  }
  input.entrada-id:hover{
    width: 25.5vw;
  }
  input.entrada-password {
  padding: 2%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: solid thin;
    border-color: #363636;
    width: 25vw;
  }
  input.entrada-password:hover{
    width: 25.5vw;
  }
  .line {
    margin-top: 3%;
    margin-bottom: 3%;
    color: darkslategray;
  }
  #btn-login {
    margin: 4%;
    width: 7em;
    height: 40px;
    border-radius: 10px;
    border:transparent;
    background-color: #363636;
    font-weight: bolder;
    color: white;
    
  }
  #btn-login:hover{
    width: 7.5em;
    background-color: #1C1C1C;
  }
  #btn-cadastro {
    margin: 4%;
    width: 7em;
    height: 40px;
    border-radius: 10px;
    border:transparent;
    background-color:#EE0000 ;
    font-weight: bolder;
    color: white;
  }
  #btn-cadastro:hover{
    width: 9em;
    background-color: #CD0000;
  }
  #btn-fpassword {
    margin: 4%;
    width: 12em;
    height: 40px;
    border-radius: 10px;
    border:transparent;
    background-color: #104E8B;
    font-weight: bolder;
    color:white;
  }
  #btn-fpassword:hover{
    width: 12.5em;
    background-color: #1874CD;
  }
}
</style>