<template>
  <div id="app" class="container">
    
    
    <router-view>
      <Cliente/>
      <Cadastro/>
    </router-view>
    
  </div>
</template>

<script>
import Cliente from "./components/Cliente.vue";


export default {
  name: "App",
  data() {
    return {
      cliente: {
        nome: "",
        email: "",
        idade: 0,
        senha: "",
      },
    };
  },
  components: {
    Cliente
  },
};

</script>

<style>
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /*background: url(./assets/FundoApp1.svg) no-repeat right bottom;*/
  background-color: white;
  background-size: cover;
  
  /*
  background: linear-gradient(to bottom,#FFFAFA,#8B8989);
  */
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
  overflow: hidden;
}

</style>
